name: build docker image

on: push

permissions:
  packages: write

env:
  DOCKER_REPO: ghcr.io/jonohill/docker-multirun

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Read multirun version
        id: read_version
        run: |
          # extract e.g. ARG MULTIRUN_VERSION=1.1.3
          version="$(cat Dockerfile | grep 'ARG MULTIRUN_VERSION' | cut -d '=' -f 2)"
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: |
            linux/amd64
            linux/arm/v7
            linux/arm64
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: |
            ${{ env.DOCKER_REPO }}:latest
            ${{ env.DOCKER_REPO }}:${{ steps.read_version.outputs.version }}
